body{
    background-color: rgb(155, 155, 155);
}

#title{
    padding-top:40px;
    font-size:40px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.RGB{
    width:15px;
    height:1.5em;
}
.container{
    display:flex;
}
#RGB-div{
    align-items: center;
}
button{
    height:2em;
}
#submit-RGB{
    margin:10px;
}
#erase-clear{
    justify-content:space-between;
}
#erase{
    flex:1;
}
#clear{
    flex:1;
}

#right-container{

}