body{
    background-color: rgb(155, 155, 155);
}
h2{
    margin-right: 10px;
}

#title{
    padding-top:40px;
    font-size:40px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

.RGB{
    width:15px;
    height:1.5em;
}
.container{
    display:flex;
    flex-wrap:wrap;
}
.center-box{
    align-items: center;
}
button{
    height:2em;
}
#submit-RGB{
    margin-left:5px;
}
.stretch-box{
    flex:1;
}
