body{
    background-color: rgb(155, 155, 155);
}
h1{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size:40px;
}
h2{

}
.RGB{
    width:15px;
    height:1.5em;
}
.container{
    display:flex;
}
#RGB-div{
    align-items: center;
}
#right-container{

}